label{
    cursor: default;
}

input.error {
	background-color: #fff;
}

label.error {
	color: red;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: top;
    margin-right: 4px;
}

#donate_form {
	background-color: #eee;
	margin-top: 20px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.7);
}

#confirmation {
	background-color: #eee;
	margin-top: 20px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.7);
}

#main {
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 20px 0px 20px; 
	background-color: #ddd;
}