input.error {
	background-color: #fff;
}

label.error {
	color: red;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: top;
    margin-right: 4px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: inset 0 0 5px #333;
    background-color: #999;
    display: inline-block;
    height: 5px;
    margin: 10px 0px;;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -webkit-border-radius: 5px;
    background-color: #0088cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00aaff), to(#0088cc));
    border: 1px solid #0088cc;
    height: 20px;
    width: 10px;
}  
input[type='range']::-webkit-slider-thumb:disabled  {
    display:none;
}      

#donate_form {
	background-color: #eee;
	margin-top: 20px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.7);
}

#confirmation {
	background-color: #eee;
	margin-top: 20px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.7);
}

#main {
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 20px 0px 20px; 
	background-color: #ddd;
}