/* bootstrap styles */

h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-family: inherit;
font-weight: bold;
line-height: 20px;
color: inherit;
text-rendering: optimizelegibility;
}

h3 {
font-size: 24.5px;
}

table {
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
}

.table {
width: 100%;
margin-bottom: 20px;
}

.table th, .table td {
padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: middle;
border-top: 1px solid #dddddd;
}

.table-bordered th, .table-bordered td {
border-left: 1px solid #dddddd;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
background-color: #f9f9f9;
}

.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.hide {
  display: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

hr {
margin: 20px 0;
border: 0;
border-top: 1px solid #eeeeee;
border-bottom: 1px solid #ffffff;
}

.alert {
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fcf8e3;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-success {
  border-color: #d6e9c6;
  background-color: #dff0d8;
  color: #468847;
}

button, input, select, textarea {
margin: 0;
font-size: 100%;
vertical-align: middle;
}

label, input, button, select, textarea {
font-size: 14px;
font-weight: normal;
line-height: 20px;
}

input, button, select, textarea {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, textarea, .uneditable-input {
margin-left: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 20px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color: #555555;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: middle;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #ffffff;
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
position: relative;
margin-bottom: 0;
vertical-align: top;
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}

.input-append input, .input-append select, .input-append .uneditable-input {
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}

.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.input-append, .input-prepend {
font-size: 0;
white-space: nowrap;
}

.input-append .add-on, .input-prepend .add-on {
display: inline-block;
width: auto;
height: 20px;
min-width: 16px;
padding: 4px 5px;
font-size: 14px;
font-weight: normal;
line-height: 20px;
text-align: center;
text-shadow: 0 1px 0 #ffffff;
background-color: #eeeeee;
border: 1px solid #ccc;
}

.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group>.dropdown-toggle, .input-prepend .btn-group>.dropdown-toggle {
vertical-align: top;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.input-prepend .add-on, .input-prepend .btn {
margin-right: -1px;
}

.input-append .add-on, .input-append .btn, .input-append .btn-group {
margin-left: -1px;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}

.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
margin-right: -1px;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}

.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
margin-left: -1px;
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}

select {
width: 220px;
border: 1px solid #cccccc;
background-color: #ffffff;
}

select, input[type="file"] {
height: 30px;
line-height: 30px;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
cursor: pointer;
}

/**/


body {
  padding: 0 !important;
}

label {
  cursor: default;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input.error {
  background-color: #fff;
}

label.error {
  float: right;
  display: inline-block;
  color: red;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: top;
  margin-top: 3px;
  margin-right: 5px;
}

#confirmation {
  width: 290px;
  padding: 5px;
  background-color: #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

/*------------------*/


#donate {
  padding: 40px 10px;
  margin: 0 auto;
  width: 320px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 130%;
  color: black;
  background-color: #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#donate a{
  text-decoration: underline;
}

#donate h4{
  color: #009933;
  font-size: 22px;
}

#donate .headline {
  padding: 0;
}

#donate_form {
  width: 280px;
  margin: 10px auto 0; 
}

#sidebar-box{
  display: none;
}

.form-section {
  background-color: #FFF;
  padding: 10px 10px 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    0px 0px 4px rgba(50, 50, 50, 0.7);
  box-shadow:         0px 0px 4px rgba(50, 50, 50, 0.7);
}

.required {
  display: inline-block;
}

.required:after {
  content: "*";
  color: red;
}

#donate_form .hide-mobile {
  display: none;
}

#donate_form .show-mobile {
  display: block;
}

#donate_form input[type="text"],
#donate_form input[type="email"], 
#donate_form textarea {
  width: 245px;
}

#donate_form select{
  width: 260px;
}

#donate_form input[name="other_amount"],
#donate_form input.designated-amount {
  width: 60px;
}

#donate_form input[name="other_amount"]:disabled {
  background-color: #FDFDFD;
}

#donate_form label.checkbox,
#donate_form label.radio {
  font-weight: normal;
}

#donate_form label.notice {
  font-weight: normal;
  font-style: italic;
  line-height: 100%;
}

#donate_form label.subheading {
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  white-space: pre;
}

#donation-amounts label {
  padding: 5px 0;
  font-weight: normal;
}

#donation-amounts label.other {
  padding-top: 0;
}

#donation-information .designated-amount-label {
  width: 117px;
}

.checkbox-label {
  display: inline-block;
  width: 228px;
  margin-bottom: 10px;
}

.range-slider {
  text-align: center;
}

#duration-label {
  margin: 15px auto;
  border: #EBEBEB 1px solid;
  width: 130px;
  padding: 5px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 3px #000000;
     -moz-box-shadow: inset 0 0 3px #000000;
          box-shadow: inset 0 0 3px #000000;
}

#other {
  margin-top: 14px;
}

.input-prepend.input-append {
  padding-top: 5px;
  padding-left: 8px;
}

#ecard-info button {
  font-weight: bold;
}

.ecard-option {
  padding-right: 16px;
  padding-bottom: 10px;
}

.ecard-option img {
  width: 85px;
  height: 85px;
  background-color: #EBEBEB;
}

#total {
  background-color: #009933;
  color: white;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
  padding: 15px;
  margin: 15px -10px -10px;
}

#donate_form input.half {
  width: 107px;
  display: block;
}

#donate_form select.half {
  width: 123px;
  margin-right: 5px;
}

#payment-type-images {
  margin-bottom: 10px;
  text-align: center;
}

#payment-type-images img{
  height: 23px;
  padding-right: 5px;
}

#whats-this {
  color: #0088cc;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

#whats-this:hover {
  text-decoration: underline;
}

.submit-warning {
  width:60%;
  color:red;
  padding-right:10px
}

.verisign img{
  width: 120px;
  height: 60px;
}

#donate-submit {
  display: block;
  width: 100%;
  padding: 6px 19px;
  margin-bottom: 0;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #FFF;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #61BF61, #51A452);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#61BF61), to(#51A452));
  background-image: -webkit-linear-gradient(top, #61BF61, #51A452);
  background-image: -o-linear-gradient(top, #61BF61, #51A452);
  background-image: linear-gradient(to bottom, #61BF61, #51A452);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61bf61', endColorstr='#ff51a452', GradientType=0);
  border-color: #51A452 #51A452 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

/* modifications */

#donation-amounts label.other {
  vertical-align: top;
}

#other {
  margin-top: 4px;
}

.input-prepend.input-append {
  display: inline-block;
  margin-top: -12px;
  vertical-align: bottom;
}