#donate {
  width: 100%;
  padding: 20px 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 130%;
  color: black;
  background-color: #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#donate button,
#donate input,
#donate select,
#donate textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#donate fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
#donate h1,
#donate h2,
#donate h3,
#donate h4,
#donate h5,
#donate h6 {
  margin: 20px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
#donate h3 {
  font-size: 24.5px;
}
#donate hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
#donate input,
#donate textarea,
#donate .uneditable-input {
  margin-left: 0;
}
#donate label,
#donate input,
#donate button,
#donate select,
#donate textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
#donate label,
#donate select,
#donate button,
#donate input[type="button"],
#donate input[type="reset"],
#donate input[type="submit"],
#donate input[type="radio"],
#donate input[type="checkbox"] {
  cursor: pointer;
}
#donate p {
  margin: 0 0 10px;
}
#donate select,
#donate textarea,
#donate input[type="text"],
#donate input[type="datetime"],
#donate input[type="datetime-local"],
#donate input[type="date"],
#donate input[type="month"],
#donate input[type="time"],
#donate input[type="week"],
#donate input[type="number"],
#donate input[type="email"],
#donate input[type="url"],
#donate input[type="search"],
#donate input[type="tel"],
#donate input[type="color"],
#donate .uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
#donate select {
  width: 220px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
#donate table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
#donate textarea,
#donate input[type="text"],
#donate input[type="password"],
#donate input[type="datetime"],
#donate input[type="datetime-local"],
#donate input[type="date"],
#donate input[type="month"],
#donate input[type="time"],
#donate input[type="week"],
#donate input[type="number"],
#donate input[type="email"],
#donate input[type="url"],
#donate input[type="search"],
#donate input[type="tel"],
#donate input[type="color"],
#donate .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
#donate .alert {
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fcf8e3;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#donate .alert-success {
  border-color: #d6e9c6;
  background-color: #dff0d8;
  color: #468847;
}
#donate .hide {
  display: none;
}
#donate .input-append,
#donate .input-prepend {
  font-size: 0;
  white-space: nowrap;
}
#donate .input-append .add-on,
#donate .input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
#donate .input-append .add-on,
#donate .input-prepend .add-on,
#donate .input-append .btn,
#donate .input-prepend .btn,
#donate .input-append .btn-group > .dropdown-toggle,
#donate .input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#donate .input-prepend .add-on,
#donate .input-prepend .btn {
  margin-right: -1px;
}
#donate .input-append .add-on,
#donate .input-append .btn,
#donate .input-append .btn-group {
  margin-left: -1px;
}
#donate .input-append input,
#donate .input-prepend input,
#donate .input-append select,
#donate .input-prepend select,
#donate .input-append .uneditable-input,
#donate .input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#donate .input-append input,
#donate .input-append select,
#donate .input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#donate .input-prepend.input-append input,
#donate .input-prepend.input-append select,
#donate .input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#donate .input-prepend .add-on:first-child,
#donate .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#donate .input-prepend.input-append .add-on:first-child,
#donate .input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#donate .input-prepend.input-append .add-on:last-child,
#donate .input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#donate .table {
  width: 100%;
  margin-bottom: 20px;
}
#donate .table th,
#donate .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
#donate .table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#donate .table-bordered th,
#donate .table-bordered td {
  border-left: 1px solid #dddddd;
}
#donate .table-striped tbody > tr:nth-child(odd) > td,
#donate .table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
#donate a {
  text-decoration: underline;
}
#donate h4 {
  color: #009933;
  font-size: 24px;
}
#donate input[type="checkbox"],
#donate input[type="radio"] {
  vertical-align: top;
  margin-top: 3px;
  margin-right: 5px;
}
#donate input.error {
  background-color: #fff;
}
#donate label {
  cursor: default;
  font-weight: bold;
}
#donate label.error {
  display: inline-block;
  color: red;
  width: inherit !important;
}
#donate #billing-information input[type="text"],
#donate #billing-information input[type="email"] {
  width: 45%;
  margin-right: 10%;
}
#donate #billing-information label {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}
#donate #billing-information select {
  width: 47.5%;
  margin-right: 12%;
}
#donate #billing-information select.error {
  margin-right: 1%;
}
#donate #billing-information input[type="text"].error,
#donate #billing-information input[type="email"].error,
#donate #credit-details input[type="text"].error {
  margin-right: 1%;
}
#donate #billing-information label.error,
#donate #payment-information label.error,
#donate #designees label.error {
  width: 20%;
  vertical-align: top;
}
#donate #confirmation {
  width: 100%;
  padding: 20px;
  background-color: #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#donate #donate_form {
  width: 60%;
  display: inline-block;
  margin: 10px 3% 0 5%;
}
#donate #donate_form input[name="other_amount"],
#donate #donate_form input.designated-amount {
  width: 80px;
}
#donate #donate_form input[name="other_amount"]:disabled,
#donate #donate_form input.designated-amount:disabled {
  background-color: #FDFDFD;
}
#donate #donate_form input.half {
  width: 30% !important;
  margin-right: 0 !important;
}
#donate #donate_form label.checkbox,
#donate #donate_form label.radio {
  font-weight: normal;
}
#donate #donate_form label.checkbox {
  margin-left: 30.4%;
  width: inherit;
  margin-bottom: 10px;
}
#donate #donate_form label.notice {
  font-weight: normal;
  font-style: italic;
  line-height: 100%;
  margin: -5px 0 10px 30.4%;
  width: 48%;
  display: block;
}
#donate #donate_form label.subheading {
  font-weight: normal;
  font-style: italic;
  width: inherit;
  display: block;
  margin-bottom: 15px;
}
#donate #donate_form .show-mobile {
  display: none !important;
}
#donate #donate_form .hide-mobile {
  display: block;
}
#donate #donate_form .designated-amount-label {
  width: 100px;
}
#donate #donate_form .expiration {
  display: inline-block;
  width: 47.5%;
  margin-right: 10%;
}
#donate #donate_form .expiration select.half {
  width: 45%;
}
#donate #donate_form .expiration select.half:first-child {
  margin-right: 8%;
}
#donate #donate-submit {
  display: block;
  width: 45%;
  padding: 6px 19px;
  margin: -65px 0 10px 30.5%;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #FFF;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #61bf61, #51a452);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#61bf61), to(#51a452));
  background-image: -webkit-linear-gradient(top, #61bf61, #51a452);
  background-image: -o-linear-gradient(top, #61bf61, #51a452);
  background-image: linear-gradient(to bottom, #61bf61, #51a452);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61bf61', endColorstr='#ff51a452', GradientType=0);
  border-color: #51A452 #51A452 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#donate #donation-amounts {
  display: inline-block;
  width: 67%;
}
#donate #donation-amounts label {
  display: block;
  padding: 5px 0;
  margin-bottom: 10px;
  font-weight: normal;
}
#donate #donation-amounts label.other {
  display: block;
  width: 100%;
  vertical-align: top;
}
#donate #donation-amounts label.other .input-prepend.input-append {
  padding-left: 14px;
}
#donate #donation-information label {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
#donate #donation-information label.radio {
  width: inherit;
}
#donate #duration-label {
  display: inline-block;
  margin: 15px auto;
  border: #EBEBEB 1px solid;
  width: 130px;
  padding: 5px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  box-shadow: inset 0 0 3px #000000;
}
#donate #email-opt-in,
#donate #writeIn,
#donate #autorepeat {
  margin-left: 30%;
}
#donate #gift-type {
  display: inline-block;
}
#donate #gift-type label {
  display: block;
}
#donate #other {
  margin-top: 4px;
}
#donate #payment-information input[type="text"] {
  width: 45%;
  margin-right: 10%;
}
#donate #payment-information label {
  width: 30%;
  display: inline-block;
}
#donate #payment-information .cvv {
  width: 100%;
}
#donate #payment-information .cvv label {
  width: 48%;
}
#donate #payment_type {
  margin-top: 10px;
  margin-left: 30.7%;
  width: 47.5%;
}
#donate #payment-type-images {
  width: 50%;
  display: inline-block;
  margin-right: 12%;
  margin-bottom: 3px;
}
#donate #payment-type-images img {
  height: 25px;
  padding-right: 5px;
}
#donate #sidebar-box {
  width: 22%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
#donate #total {
  background-color: #009933;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
  padding: 15px;
  margin: 15px -30px -20px;
}
#donate #whats-this {
  color: #0088cc;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  margin-left: -20%;
  margin-top: -12px;
}
#donate #whats-this:hover {
  text-decoration: underline;
}
#donate #whats-this-info {
  padding: 0 14% 0 30%;
}
#donate #whats-this-info label {
  width: inherit;
}
#donate .checkbox-label {
  display: inline-block;
  width: 48%;
  margin-bottom: 10px;
}
#donate .duration {
  width: 100%;
  display: block;
  margin-top: 5px;
}
#donate .form-section {
  background-color: #FFF;
  padding: 20px 30px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
}
#donate .headline {
  padding: 0 7%;
  width: 55%;
}
#donate .input-prepend.input-append {
  padding-top: 5px;
  padding-left: 6px;
  display: inline-block;
  margin-top: -12px;
  vertical-align: bottom;
}
#donate .range-slider {
  width: 45%;
  text-align: center;
  display: inline-block;
}
#donate .required {
  display: inline-block;
}
#donate .required:after {
  content: "*";
  color: red;
}
#donate .submit-warning {
  width: 85%;
  padding-right: 55%;
  color: red;
}
#donate .verisign img {
  width: 100px;
  height: 50px;
}
