/* from donate.css + bootstrap */

label {
  cursor: default;
  font-weight: bold;
}

input.error {
  background-color: #fff;
}

label.error {
  display: inline-block;
  color: red;
}

#billing-information label.error,
#payment-information label.error {
  margin-left: 0;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: top;
  margin-top: 3px;
  margin-right: 5px;
}

#confirmation {
  width: 100%;
  padding: 20px;
  background-color: #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

/*------------------*/


#donate {
  width: 100%;
  padding: 20px 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 130%;
  color: black;
  background-color: #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#donate a {
  text-decoration: underline;
}

#donate h4 {
  color: #009933;
  font-size: 24px;
}

#donate .headline {
  padding: 0 7%;
  width: 85%;
}

#donate_form {
  width: 100%;
  margin: 10px 5% 0; 
}

#sidebar-box{
  display: none;
}

.form-section {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
  padding: 20px 30px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    0px 0px 4px rgba(50, 50, 50, 0.7);
  box-shadow:         0px 0px 4px rgba(50, 50, 50, 0.7);
}

.column {
  display: inline-block;
  margin: 20px 2%;
  vertical-align: top;
  width: 40%;
}


.required {
  display: inline-block;
}

.required:after {
  content: "*";
  color: red;
}

#donate_form .show-mobile {
  display: none;
}

#donate_form .hide-mobile {
  display: block;
}

#donate_form .hide-two-column {
  display: none;
}

#donate_form .designated-amount-label {
  width: 162px;
}

#donate_form input[name="other_amount"],
#donate_form input.designated-amount {
  width: 80px;
}

#donate_form input[name="other_amount"]:disabled {
  background-color: #FDFDFD;
}

#donate_form label.checkbox,
#donate_form label.radio {
  font-weight: normal;
}

#donate_form label.notice {
  font-weight: normal;
  font-style: italic;
  line-height: 100%;
  margin: -5px 0 10px 0;
  width: 95%;
  display: block;
}

#donate_form label.subheading {
  font-weight: normal;
  font-style: italic;
  width: inherit;
  display: block;
  margin-bottom: 15px;
}

#donation-information label {
  display: block;
  margin-left: 5%;
  width: inherit;
  vertical-align: top;
}

#donation-information label.radio {
  width: inherit;
}

#donation-amounts {
  width: 90%;
  margin-left: 5%;
}

#donation-amounts label {
  display: block;
  padding: 5px 0;
  margin-left: 0;
  font-weight: normal;
}

#donation-amounts label.other {
  margin-top: -10px;
  display: block;
  width: 100%;
  vertical-align: middle;
}

#gift-type {
  display: block;
}

#gift-type label {
  display: block;
}


#billing-information label{
  display: inline-block;
  margin-left: 5%;
  vertical-align: middle;
}

#billing-information input[type="text"],
#billing-information input[type="email"] {
  width: 83%;
  margin-left: 5%;
}

#billing-information select {
  width: 87.5%;
  margin-left: 4.5%;
}

#writeInDesignation input[type="text"] {
  width: 85%;
  margin-left: 5%;
}

#writeInDesignation input.designated-amount {
  width: 80px;
  margin-left: 0;
}

#email-opt-in,
#writeIn,
#autorepeat {
  margin-left: 5%;
}

#payment-information label {
  width: 30%;
  display: inline-block;
}

#payment-information label {
  margin: 40px 0 0 5%;
  width: inherit;
}

#payment-information input[type="text"] {
  width: 88%;
  margin-right: 10%;
}

#payment_type {
  margin-top: 10px;
  margin-left: 5%;
  width: 86.5%;
}

#credit-details {
  margin-left: 5%;
}

#credit-details label {
  margin: 0;
}

.expiration {
  display: inline-block;
  width: 92.5%;
  margin-right: 10%;
}

#payment-information .cvv {
  width: 100%;
}

#payment-information .cvv label {
  width: 44.6%;
}

.checkbox-label {
  display: inline-block;
  width: 88%;
  margin-bottom: 10px;
}

.range-slider {
  margin-left: 7%;
  width: 80%;
  text-align: center;
  display: inline-block;
}

.duration {
  width: 100%;
  display: block;
  margin-top: 5px;
}

#duration-label {
  display: inline-block;
  margin: 15px auto;
  border: #EBEBEB 1px solid;
  width: 130px;
  padding: 5px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 3px #000000;
     -moz-box-shadow: inset 0 0 3px #000000;
          box-shadow: inset 0 0 3px #000000;
}

#other {
  margin-top: 14px;
}

.input-prepend.input-append {
  padding-top: 5px;
  padding-left: 12px;
}

#designees table {
  width: 100%;
  margin-left: 3%;
  margin-bottom: 14px;
}

#designees select {
  display: inline-block;
  width: 88.5%;
  margin: 0 9% 8px 5%;
}

#designees select.error {
  margin-right: 1%;
}

#honoree-information {
  margin-left: 5%;
}

#honoree-information label {
  width: inherit;
  display: inline-block;
}

#honoree-information hr {
  width: 105%;
  margin-left: -5%;
}

#donate_form label.checkbox {
  margin-left: 5.5%;
  width: inherit;
}

#honoree-information select {
  width: 87.5%;
  margin-right: 4.5%;
}

#honoree-information input[type="text"],
#honoree-information textarea {
  width: 84%;
}

#ecard label.checkbox {
  margin-left: 0;
}

#ecard-info table {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

#ecard-info button {
  margin-left: 30.4%;
  font-weight: bold;
}

.ecard-option {
  padding: 0 30px 10px 18px;
}

.ecard-option img {
  width: 100px;
  height: 100px;
  background-color: #EBEBEB;
}

#total {
  background-color: #009933;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
  padding: 15px;
  margin: 15px -30px -20px;
}

#donate_form input.half {
  width: 57%;
  margin-right: 0;
}

#donate_form .expiration select.half {
  width: 45%;
}

#donate_form .expiration select.half:first-child {
  margin-right: 8%;
}

#payment-type-images {
  width: 70%;
  margin: -58px 0 30px 5%;
}

#payment-type-images img{
  height: 25px;
  padding-right: 5px;
}

#whats-this {
  color: #0088cc;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  margin-left: -64%;
  margin-top: 8px;
}

#whats-this:hover {
  text-decoration: underline;
}

#whats-this-info {
  padding: 0 5% 0 0;
}

#whats-this-info label {
  width: inherit;
}

.submit-warning {
  width: 79%;
  padding-left: 6%;
  padding-right: 22%;
  color: red;
}

.verisign {
  background-image: url('../img/verisign.png');
  background-size: 100% 100%;
}

#donate-submit {
  display: block;
  width: 93%;
  padding: 6px 19px;
  margin: 0px 0 10px 5%;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #FFF;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #61BF61, #51A452);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#61BF61), to(#51A452));
  background-image: -webkit-linear-gradient(top, #61BF61, #51A452);
  background-image: -o-linear-gradient(top, #61BF61, #51A452);
  background-image: linear-gradient(to bottom, #61BF61, #51A452);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61bf61', endColorstr='#ff51a452', GradientType=0);
  border-color: #51A452 #51A452 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}